.card {
	position: relative;
	background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%),
	          url('http://www.desktopimages.org/pictures/2015/0628/1/th1_628451.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	padding: 20px;
	height: 200px;
}

.card-text {
	position: absolute;
	bottom: 20px;
	left: 20px;
}