body {
	margin:0;
	font-size: 18px;
	line-height: 1.6;
    font-weight: lighter;
	font-family: 'Lora', serif;

}

.banner {
	background-image: url(https://unsplash.it/1920/1080/?random);
	background-size: cover;
	padding: 120px 0;
	margin: 0;
	color: white;
}

.banner p {
	font-size: 30px;
    font-style: italic;
    font-weight: lighter;
    opacity: 0.8;
}

h1, h2 {
	font-family: 'Montserrat', sans-serif;

}

h1 {
	font-size: 38px;
	font-family: 'Montserrat', sans-serif;
	color: white;
}

h2 {
	color: #A0A0A0;
	font-weight: normal;
}


.container {
	max-width: 700px;
	margin: 50px auto;
	padding-left: 20px;
	padding-right: 20px;
}

.link-medium {
	background-color: rgba(233, 253, 240, 1);
    color: #636363;
    font-weight: lighter;
    font-size: 25px;
    font-style: italic;
    text-decoration: none;
}

.link-medium:hover {
	background-color: rgba(125, 255, 179, 1);
}