.banner {
	background-image: url('https://source.unsplash.com/random');
	background-size: cover;
	height: 100vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: white;
	text-align: center;
}

.banner h1 {
	font-size: 80px;
	margin-bottom: 20px;
}

.banner p {
	font-size: 30px;
	margin-bottom: 50px;
}